@font-face {
    font-family: "Metropolis";
    src: url(/fonts/Metropolis-Regular.otf);
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: "Metropolis";
    src: url(/fonts/Metropolis-SemiBold.otf);
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: "Metropolis";
    src: url(/fonts/Metropolis-Bold.otf);
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: "Noto Sans Khmer";
    src: url(/fonts/NotoSansKhmer-Regular.ttf);
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: "Noto Sans Khmer";
    src: url(/fonts/NotoSansKhmer-SemiBold.ttf);
    font-weight: 600 700;
    font-display: swap;
}

html {
    --font_primary: "Metropolis";
    --font_khmer: "Noto Sans Khmer";

    --clr_dark: #141414;
    --clr_dark_shade_a: #212121;
    --clr_light: #f3f3f3;

    --clr_primary: #003153;
    --clr_primary_shade_a: #004F86;
    --clr_secondary: #0077CC;
    --clr_secondary_shade_a: #0095FF;
    --clr_secondary_shade_b: #33AAFF;

    --clr_grey_shade_a: #444;
    --clr_grey_shade_b: #666;
    --clr_grey_shade_c: #999;
    --clr_grey_shade_d: #ccc;
    --clr_grey_shade_e: #ececec;
    --clr_grey_shade_f: #f7f7f7;

    --content_max_width: min(100%, 72.5rem);
    --padding_horizontal: 2.5rem;

    --filter_clr_primary: invert(13%) sepia(89%) saturate(1510%) hue-rotate(181deg) brightness(92%) contrast(104%);
    --filter_clr_primary_shade_a: invert(11%) sepia(76%) saturate(5252%) hue-rotate(193deg) brightness(105%) contrast(100%);
    --filter_clr_secondary: invert(34%) sepia(93%) saturate(1142%) hue-rotate(178deg) brightness(87%) contrast(112%);
    --filter_clr_secondary_shade_a: invert(41%) sepia(51%) saturate(4565%) hue-rotate(187deg) brightness(106%) contrast(104%);
    --filter_clr_secondary_shade_b: invert(60%) sepia(24%) saturate(7489%) hue-rotate(186deg) brightness(107%) contrast(105%);

    /* type scaling */
    --type_scale_5: 3.052rem;
    --type_scale_4: 2.441rem;
    --type_scale_3: 1.563rem;
    --type_scale_2: 1.25rem;
    --type_scale_1: 1rem;
}

@media screen and (max-width: 48em) {
    html {
        --type_scale_5: calc(3.052rem * 0.95);
        --type_scale_4: calc(2.441rem * 0.95);
        --type_scale_3: calc(1.563rem * 0.95);
        --type_scale_2: calc(1.25rem * 0.95);
        --type_scale_1: calc(1rem * 0.95);

        --content_max_width: 100%;
        --padding_horizontal: 1rem;
    }
}