@font-face {font-family: Metropolis-Regular; src: url(/fonts/Metropolis-Regular.otf); font-display: swap;}
@font-face {font-family: Metropolis-SemiBold; src: url(/fonts/Metropolis-SemiBold.otf); font-display: swap;}
@font-face {font-family: Metropolis-Bold; src: url(/fonts/Metropolis-Bold.otf); font-display: swap;}
@font-face {font-family: KhmerOSContent-Regular; src: url(/fonts/KhmerOSContent-Regular.ttf); font-display: swap;}
@font-face {font-family: KhmerOSContent-Bold; src: url(/fonts/KhmerOSContent-Bold.ttf); font-display: swap;}

html {
    --font_primary: Metropolis-Regular;
    --font_primary_semibold: Metropolis-SemiBold; 
    --font_primary_bold: Metropolis-Bold;
    --font_khmer: KhmerOSContent-Regular;
    --font_khmer: KhmerOSContent-Bold;

    --clr_primary: #003153;
    --clr_primary_shade_a: #004F86;
    --clr_secondary: #0077CC;

    --content_max_width_desktop: min(100%, 72.5rem); 
    --padding_horizontal_desktop: 2.5rem;

    --padding_horizontal_mobile: 1rem;

    --filter_clr_primary: invert(12%) sepia(98%) saturate(1426%) hue-rotate(183deg) brightness(95%) contrast(101%);
    --filter_clr_secondary: invert(28%) sepia(91%) saturate(1680%) hue-rotate(186deg) brightness(96%) contrast(101%);

    /* type scaling */
    --type_scale_5: 3.052rem;
    --type_scale_4: 2.441rem;
    --type_scale_3: 1.563rem;
    --type_scale_2: 1.25rem;
    --type_scale_1: 1rem;
}
@media screen and (max-width: 48em) {
    html {
        --type_scale_5: calc(3.052rem * 0.95);
        --type_scale_4: calc(2.441rem * 0.95);
        --type_scale_3: calc(1.563rem * 0.95);
        --type_scale_2: calc(1.25rem * 0.95);
        --type_scale_1: calc(1rem * 0.95);
    }
}