@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Khmer&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  --font-primary: "Open Sans", -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  /* --font-khmer-head: "Noto Sans Khmer", "Open Sans", -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji'; */
  --font-khmer-head: "Khmer", "Open Sans", -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  --font-khmer: "Khmer", "Open Sans", -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';

  --clr-primary: #003153;
  --clr-primary-shade-a: #004F86;
  --clr-secondary: #0077CC;
  --clr-secondary-shade-a: #0095FF;
  --clr-secondary-shade-b: #33AAFF;

  --clr-grey-6: #212429;
  --clr-grey-5: #495057;
  --clr-grey-4: #ADB5BD;
  --clr-grey-3: #CED4DA;
  --clr-grey-2: #E9ECEF;
  --clr-grey-1: #F8F9FA;

  --clr-mono-6: #212429;
  --clr-mono-5: #495057;
  --clr-mono-4: #ADB5BD;
  --clr-mono-3: #CED4DA;
  --clr-mono-2: #E9ECEF;
  --clr-mono-1: #F8F9FA;


  --clr-gradient-light: linear-gradient(109deg, #FFF 0%, var(--clr-mono-2) 100%), var(--clr-mono-1);
  --clr-gradient-dark: linear-gradient(119deg, var(--clr-mono-5) 0%, var(--clr-mono-6) 100%);
  --clr-gradient-secondary: linear-gradient(96deg, var(--clr-secondary-shade-a) 0%, var(--clr-secondary) 100%), var(--clr-secondary);

  --content-max-width: min(100%, 72.5rem);
  --padding-horizontal: 2.5rem;

  --filter-clr-primary: invert(13%) sepia(89%) saturate(1510%) hue-rotate(181deg) brightness(92%) contrast(104%);
  --filter-clr-primary-shade-a: invert(11%) sepia(76%) saturate(5252%) hue-rotate(193deg) brightness(105%) contrast(100%);
  --filter-clr-secondary: invert(34%) sepia(93%) saturate(1142%) hue-rotate(178deg) brightness(87%) contrast(112%);
  --filter-clr-secondary-shade-a: invert(41%) sepia(51%) saturate(4565%) hue-rotate(187deg) brightness(106%) contrast(104%);
  --filter-clr-secondary-shade-b: invert(60%) sepia(24%) saturate(7489%) hue-rotate(186deg) brightness(107%) contrast(105%);

  --type-scale-7: 4.76875rem;
  --type-scale-6: 3.8125rem;
  --type-scale-5: 3.05rem;
  --type-scale-4: 2.44375rem;
  --type-scale-3: 1.95625rem;
  --type-scale-2: 1.5625;
  --type-scale-1: 1.25rem;
  --type-scale-0: 1rem;
  --type-scale--1: 0.8rem;
  --type-scale--2: 0.6375rem;

  --shadow-md: 0 0 8px rgba(0, 0, 0, .5);

  --shadow-pressed: 8px 8px 16px 0px var(--clr-mono-3) inset, -8px -8px 16px 0px #FFF inset;
  --shadow-pressed-secondary: 2px 2px 4px 0px var(--clr-secondary) inset, -2px -2px 4px 0px var(--clr-secondary-shade-b) inset;
  --shadow-pressed: 2px 2px 4px 0px var(--clr-mono-6) inset, -2px -2px 4px 0px var(--clr-mono-5) inset;

  --shadow-flat: 8px 8px 16px 0px var(--clr-mono-3), -8px -8px 16px 0px #FFF;
  --shadow-convex: 4px 4px 8px 0px var(--clr-mono-3), -4px -4px 8px 0px #FFF;
}

/* Dark theme styles (optional) */
html.dark {
  --clr-grey-1: #212429;
  --clr-grey-2: #495057;
  --clr-grey-3: #ADB5BD;
  --clr-grey-4: #CED4DA;
  --clr-grey-5: #E9ECEF;
  --clr-grey-6: #F8F9FA;

  --shadow-convex: 4px 4px 8px 0px rgba(0,0,0,.5), -4px -4px 8px 0px var(--clr-mono-6);
}

body {
  background-color: var(--clr-grey-1);
}